.env
/vendor/
.idea
tmp
!tmp/.gitignore
clover.xml
coverage-checker.php
coverage
phpunit.phar
_site
Gemfile.lock
*.phar
/phan.log
dock.sh
dock-helpers.sh
docker-compose.yml
docker-jenkins-start.sh
lighthouse.sh
stacks.sh
update-docker-assets-file.sh
getUid.php
